.grid {
    display: grid;
    grid-gap: @box-padding-base;
    // 首页布局
    &-app-home-layout {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'playList playList' 'hotMusic newMusic';
        > div:nth-child(1) {
            grid-area: playList;
        }
        > div:nth-child(2) {
            grid-area: hotMusic;
        }
        > div:nth-child(3) {
            grid-area: newMusic;
        }
    }
}
